.config/Code/User/*
.Trash/
Android/
Applications*
Desktop/
Documents/
Help/
Library/
Music/
node_modules/
Pictures/
Public/
RubymineProjects/
snap/
Templates/
Videos/
watchman/
WebstormProjects/
Projects/
.vim/plugged
*
!.bash_profile
!.bashrc
!.gemrc
!.gitcofig
!.githelpers
!.gitignore
!.gitignore_global
!.gitmodules
!.irbrc
!.profile
!.pryrc
!.psqlrc
!.railsrc
!.tmux.conf
!.vimrc
!.zshenv
!.zshrc
!.config/Code/User/settings.json
!.config/Code/User/keybindings.json
!.oh-my-zsh/custom/themes/bgro.zsh-theme
