[user]
  name = Bartosz Grochowski
  email = bartosz@groski.com
[core]
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
  editor = vim
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = true
[help]
  autocorrect = 1
[status]
  submodule = 1
[apply]
  whitespace = warn
[alias]
  d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
  lol = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  l = log --pretty=format:'%C(yellow)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  contributors = shortlog --summary --numbered
  s = status
  up = pull --rebase --autostash
  amend = commit --amend
